{% extends "base.html" %}
{% block title %}Tools Overview{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Tools Overview</h1>
                <p>Here you can find a list of all the tools that are available on the site.</p>
            </div>
        </div>

        <div class="row">

        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="accordian" id="toolsTodo">
                    <h1 class="accordian-header" id="toolsAccordianHeader">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Tools to Build
                        </button>
                    </h1>
                    <div id="collapseOne" class="accordian-collapse collapse show"
                         aria-labelledby="toolsAccordianHeader" data-bs-parent="#toolsTodo">
                        <div class="accordian-body">
                            <ul>
                                <li>Feed importer
                                    <ul>
                                        <li>Meme Reposter
                                            <ul>
                                                <li>Selected memes can get scheduled x hours apart & reposted!</li>
                                                <li>Reddit Feed Viewer & Selector</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Video Chopper
                                            <ul>
                                                <li>Using the chop tool we can have videos automatically created & held
                                                    for
                                                    review
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>Stats overview</li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}