<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>untitled</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"
            integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css" rel="stylesheet">
    <script defer src="{{ url_for('static',filename='frontend/dist/js/chunk-vendors.js') }}"></script>
    <script defer src="{{ url_for('static',filename='frontend/dist/js/app.js') }}"></script>
    {#    <script defer src="{{ url_for('static',filename='frontend/dist/js/webfontloader.js') }}"></script>#}
    <link rel="preload" as="font"
          href="{{ url_for('static',filename='frontend/dist/fonts/materialdesignicons-webfont.5d875350.eot') }}"
          type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font"
          href="{{ url_for('static',filename='frontend/dist/fonts/materialdesignicons-webfont.21f691f0.ttf') }}"
          type="font/ttf" crossorigin="anonymous">
    {#    <script defer src="/static/frontend/dist/js/chunk-vendors.js"></script>#}
    {#    <script defer src="/static/frontend/dist/js/app.js"></script>#}
</head>
<body>
<noscript>
    <strong>We're sorry but untitled doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->

<script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
</body>
</html>
