{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}Tools Overview{% endblock %}
{% block body %}
    <script>
        /**
         * Used to handle the 'dynamic' nature of the page.
         */

        var postId = -1;
        var postTitle = "";
        var postBody = "";
        var postAuthor = "";
        var postDate = "";
        var postUpvotes = 0;
        var postUrl = "";
        var postsSelected = []; //list of posts that will be pushed.

        function setActivePost(id, title, body, author, date, upvotes, url) {
            console.log("Setting active post to " + id);
            postId = id;
            postTitle = title;
            postBody = body;
            postAuthor = author;
            postDate = date;
            postUpvotes = upvotes;
            postUrl = url;

            // Call ui Render
            updateActivePost();
        }

        function updateActivePost() {
            let titleElement = $('#activePostTitle');
            let upvotesElement = $('#activePostUpvotes');
            let authorElement = $('#activePostAuthor');
            let imageElement = $('#activePostImage');

            titleElement.text(postTitle);
            upvotesElement.text(postUpvotes);
            authorElement.text(postAuthor);
            imageElement.attr('src', postUrl);

            let formBodyField = $('#formPostBody');
            let formTimeField = $('#formPostTime');
            let postUrlButton = $('#postUrlButton');
            postUrlButton.attr('href', postUrl);
            formBodyField.val(postTitle);
            formTimeField.val("In 5 minutes");
        }

        function schedulePost() {
            //Todo post to the backend & update the UI with a toast & info on UI
            let mediaUrl = $('#activePostImage').attr('src');
            let postBody = $('#formPostBody').val();
            let postTime = $('#formPostTime').val();

            $.post('/schedule/', JSON.stringify({
                postUrl: mediaUrl,
                body: postBody,
                time: postTime
            }),function (data, status) {

            });
        }

        function selectPostForRepost(postId) {
            if (postsSelected.indexOf(postId) === -1) {
                postsSelected.push(postId);
            } else {
                postsSelected.splice(postsSelected.indexOf(postId), 1);
            }
        }
    </script>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Feed Importer</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form action="{{ url_for('feed_importer.load') }}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="subredditString"
                               placeholder="{% if subreddit %}{{ subreddit }}{% else %}rapmemes{% endif %}"
                               aria-describedby="feedScrapeButton" aria-label="Upload"
                               {% if subreddit %}value="{{ subreddit }}"{% endif %}>
                        <button class="btn btn-outline-primary" type="button" id="feedScrapeButton" onclick="">Load
                        </button>
                    </div>
                </form>
            </div>
        </div>

        {% if posts %}
            <div class="row mt-3">
                <div class="col-sm-12">
                    <div class="alert alert-success" role="alert">
                        <h3>Select Posts for Processing</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                {#  List Selection #}
                <div class="col-sm-4">
                    <div class="list-group">
                        {% for post in posts %}
                            <a href="#" class="list-group-item list-group-item-action"
                               onclick="setActivePost('{{ post.id }}','{{ post.title }}','{{ post.body }}','{{ post.author }}','{{ post.created_utc }}',{{ post.score }},'{{ post.url }}')">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="{{ post.thumbnail }}" class="img-thumbnail img-rounded" height="150"
                                             width="150">
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <span class="text-wrap fs-5">{{ post.title }}</span>
                                            </div>
                                            <div class="col-sm-3">
                                                <span class="badge bg-success rounded-pill"><i
                                                        class="bi bi-arrow-up"></i>{{ post.score }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span class="badge bg-primary rounded-pill"><i
                                                        class="bi bi-person"></i>{{ post.created_utc | slangtime }}</span>
                                                <span class="badge bg-info rounded-pill"><i
                                                        class="bi bi-person"></i>{{ post.author }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>


                {#  Post Customizer #}
                <div class="offset-sm-1 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" id="activePostImage" src="{{ posts[0].url }}">
                        <div class="card-body">
                            <div class="row">
                                <div class="text-center col-sm-12">
                                    <h2>Repost Configuration</h2>
                                    <div class="row">
                                        <a href="{{ posts[0].url }}"
                                           target="_blank"
                                           id="postUrlButton">View Post</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <form>
                                <div class="row mb-2">
                                    <div class="col-sm-12">
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text" id="bodyTextLabel">Post Body</span>
                                            <textarea class="form-control" aria-label="Post Body"
                                                      aria-describedby="bodyTextLabel"
                                                      id="formPostBody">{{ posts[0].title }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text" id="postTimeLabel">Post Time</span>
                                            <input type="text" class="form-control" aria-label="In 5 Minutes"
                                                   placeholder="In 5 Minutes"
                                                   aria-describedby="postTimeLabel" value="In 28 hours"
                                                   id="formPostTime">
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-success" onclick="schedulePost()">
                                            Post
                                        </button>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>

            </div>
            </div>

        {% endif %}

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}