{% extends "base.html" %}

{% block head %}
    <style>
        .list-group {
            max-height: 600px;
            margin-bottom: 10px;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
        }
    </style>
{% endblock %}

{#Todo implement gallery support#}

{% block title %}Tools Overview{% endblock %}
{% block body %}
    <script type="application/javascript">
        /**
         * Used to handle the 'dynamic' nature of the page.
         */


        var postId = -1;
        var postTitle = "";
        var postBody = "";
        var postAuthor = "";
        var postDate = "";
        var postUpvotes = 0;
        var postMediaUrl = "";
        var postPermalink = "";
        var postsSelected = []; //list of posts that will be pushed.
        var platforms = "facebook";
        var isRepost = false;


        function setActivePost(id, title, body, author, date, upvotes, url, permalink, repost) {
            console.log(`Setting active post to ${id} ${title} ${author} http://reddit.com${permalink}`);
            postId = id;
            postTitle = title;
            postBody = body;
            postAuthor = author;
            postDate = date;
            postUpvotes = upvotes;
            postMediaUrl = url;
            postPermalink = permalink;
            isRepost = repost;
            console.log(`Post is a repost: ${isRepost}`);

            // Call ui Render
            updateActivePost();
        }

        function updateActivePost() {
            let titleElement = $('#activePostTitle');
            let upvotesElement = $('#activePostUpvotes');
            let authorElement = $('#activePostAuthor');
            let imageElement = $('#activePostImage');

            titleElement.text(postTitle);
            upvotesElement.text(postUpvotes);
            authorElement.text(postAuthor);
            imageElement.attr('src', postMediaUrl);

            let formBodyField = $('#formPostBody');
            let formTimeField = $('#formPostTime');
            let postUrlButton = $('#postUrlButton');
            let formPostIdField = $('#formPostId');
            let formPostUrlField = $('#formPostUrl');
            postUrlButton.attr('href', `http://reddit.com${postPermalink}`);
            titleElement.val(postTitle);
            formPostIdField.val(postId);
            formPostUrlField.val(postMediaUrl);
            formBodyField.val(postTitle);
            formTimeField.val("In 5 minutes");
        }

        function selectPostForRepost(postId) {
            if (postsSelected.indexOf(postId) === -1) {
                postsSelected.push(postId);
            } else {
                postsSelected.splice(postsSelected.indexOf(postId), 1);
            }
        }
    </script>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Feed Importer</h2>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" name="subreddit"
                               placeholder="{% if subreddit %}{{ subreddit }}{% else %}rap{% endif %}"
                               aria-label="subreddit"
                               {% if subreddit %}value="{{ subreddit }}"{% endif %} id="subreddit">
                        <button class="btn btn-outline-primary" type="button" id="feedScrapeButton">Load</button>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">

                    <div class="input-group">
                        <label id="sortLabel" class="input-group-text">Sort By</label>
                        <input type="text" class="form-control" name="sortMethod" value="{{ sort_method }}"
                               placeholder="hot"
                               aria-describedby="sortLabel" aria-label="sort" id="sortMethod">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if posts %}
        <div class="row mt-3">
            {#  List Selection #}
            <div class="col-sm-4">
                <div class="list-group">
                    {% for post in posts %}
                        <a class="list-group-item list-group-item-action"
                           onclick="setActivePost(`{{ post.id }}`,`{{ post.title }}`,``,`{{ post.author }}`,`{{ post.created_utc }}`,{{ post.score }},`{{ post.url }}`,`{{ post.permalink }}`,{% if post.repost %}true{% else %}false{% endif %})">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="{{ post.thumbnail }}" class="img-thumbnail img-rounded" height="150"
                                         width="150">
                                </div>
                                <div class="col-sm-8">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <p class="text-wrap fs-5">{{ post.title }}
                                                </p>
                                            </div>
                                            <div class="col-sm-2">
                                            <span class="badge bg-success rounded-pill"><i
                                                    class="bi bi-arrow-up"></i>{{ post.score }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                            <span class="badge bg-primary badge-pill"><i
                                                    class="bi bi-person"></i>{{ post.created_utc | slangtime }}</span>
                                                <span class="badge bg-info badge-pill"><i
                                                        class="bi bi-person"></i>{{ post.author }}</span>

                                                {% if post.repost %}
                                                    <span class="badge bg-warning rounded-pill">⚠️Posted</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            {#  Post Customizer #}
            <div class="offset-sm-1 col-sm-6">
                <div class="card" style="padding: 5px;">
                    <div class="row text-center">
                        <a href="http://reddit.com{{ posts[0].permalink }}"
                           target="_blank"
                           id="postUrlButton"><h4 id="activePostTitle">{{ posts[0].title }}</h4></a>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img class="card-img-top" id="activePostImage" src="{{ posts[0].url }}" alt="Meme">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="text-center col-sm-12">
                                <h2>Repost Configuration</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <form action="{{ url_for('feed_importer.schedule') }}" method="post">
                            <input type="hidden" value="{{ posts[0].url }}" id="formPostUrl" name="postUrl">
                            <input type="hidden" value="{{ posts[0].id }}" id="formPostId" name="postId">
                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="bodyTextLabel">Post Body</span>
                                        <textarea class="form-control" aria-label="Post Body"
                                                  aria-describedby="bodyTextLabel"
                                                  name="body"
                                                  rows="10"
                                                  style="height: auto;"
                                                  id="formPostBody">{{ posts[0].title }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="postTimeLabel">Post Time</span>
                                        <input type="text" class="form-control" aria-label="In 5 Minutes"
                                               placeholder="In 5 Minutes"
                                               name="time"
                                               aria-describedby="postTimeLabel" value="In 28 hours"
                                               id="formPostTime">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="platformsLabel">Platforms</span>
                                        <input type="text" class="form-control"
                                               aria-label="facebook,twitter,instagram"
                                               placeholder="facebook,twitter,instagram"
                                               name="platforms"
                                               aria-describedby="platformsLabel" value="facebook"
                                               id="formPlatforms">
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-success">
                                        Post
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>

    {% endif %}


{% endblock %}

{% block scripts %}
    <script type="application/javascript">

        $(function () {
            console.log('Page Loaded')
            $('#feedScrapeButton').on('click', function () {
                console.log('Scrape Button Clicked');
                let new_url_location = "{{url_for('feed_importer.index')}}/" + $('#subreddit').val() + "/" + $('#sortMethod').val();
                console.log(`${new_url_location}`);
                window.location.href = new_url_location;
            });
        });
    </script>
{% endblock %}